@using InputIcons
@using System.Drawing
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, InputIcons!</h1>

<InputIconContainer Size="IconSize.Small">
    <InputIcon Key="I" Color="@Color.Black"/>
    <InputIcon Key="N" Color="@Color.Crimson"/>
    <InputIcon Key="P" Color="@Color.DarkOliveGreen"/>
    <InputIcon Key="U"/>
    <InputIcon Key="T"/>
    <InputIcon Key="I"/>
    <InputIcon Key="C"/>
    <InputIconContainer Size="IconSize.Large">
        <InputIcon Key="O"/>
        <InputIcon Key="N"/>
        <InputIcon Key="S"/>
    </InputIconContainer>
</InputIconContainer>

<div style="display:inline-block">
    <span class=".input-icons-container">
        Welcome to your new app.
        <InputIcon Key="CTRL"/>&nbsp;+&nbsp;<InputIcon Key="A"/>
    </span>
</div>
<InputIconContainer >
    <InputIcon Key="CTRL" Size="IconSize.Large"/>
    <InputIcon Key="CTRL"></InputIcon>
</InputIconContainer>

<InputIconContainer Size="IconSize.Large">
    <InputIcon Key="CTRL"></InputIcon>
    <InputIcon Key="CTRL"></InputIcon>
</InputIconContainer>
<p>
    This is what <br/>
    Regular <kbd>KBD</kbd> + <kbd>Style</kbd> <br/>
    in a paragraph.<br/>
    New line test.
</p>