@using InputIcons 
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, InputIcons!</h1>

<div style="display:inline-block">
<span class=".input-icons-container">
    Welcome to your new app.
    <InputIcon Key="CTRL" Size="InputIcon.IconSize.Large"/>&nbsp;+&nbsp;<InputIcon Key="A"/>
</span>
</div>

<p>
    This is what <br/>
    Regular <kbd>KBD</kbd> + <kbd>Style</kbd> <br/>
    in a paragraph.<br/>
    New line test.
</p>