.input-icons-key {
    display: inline-block;
    padding: 2px 5px 14px 5px;
    background: linear-gradient(135deg, #555555, #333333);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: /*  */ inset -2px -2px 8px rgba(0, 0, 0, .2);
}

.input-icons-key-face {
    display: inline-block;
    padding: 4px 6px;
    min-width: 32px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(315deg, #555555, #333333); /* Inner gradient */
    border-radius: 7px;
    text-align: center;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.1),
   1px 1px 2px rgba(255, 255, 255, 0.05),
        /* Top left inner highlight */ inset 1px 1px 1px #555555,
        /* Bottom left inner highlight */ inset -1px -1px 10px rgba(255, 255, 255, 0.05),
        /* Top left outer highlight */ -4px -4px 8px #444444,
        /* Bottom right outer highlight */ 2px 2px 8px #444444;
}

.input-icons-key-face kbd {
    font-family: inherit;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
