.input-icons__key {
    display: inline-block;
    padding: .2em .4em .9em .4em;
    background: linear-gradient(135deg, #555555, #222222);
    border-radius: .7em;
    overflow: hidden;
    box-shadow: inset -.2em -.2em .4em rgba(0, 0, 0, .2);
}

.input-icons__key-face {
    padding: .15em .4em;
    min-width: 2em;
    color: #fff;
    background: linear-gradient(315deg, #666666, #444444);
    border-radius: .6em;
    text-align: center;
    box-shadow: 0 0 .2em #555555, inset 0 0 .3em #555555, inset .2em .2em .4em #333333;
}

.input-icons__key-xs {
    font-size:0.5em;
}
.input-icons__key-sm {
    font-size: 0.8em;
}

.input-icons__key-lg {
    font-size: 1.2em;
}

.input-icons__key-face kbd {
    position: relative;
    top: -.1em;
    padding: 0;
    background: none;
}

.input-icons-container {
    display: inline-flex;
    align-items: center;
    background-color: #6a1a21;
}
