.input-icons__key-layer {
    position: absolute;
    inset: 0;
}

.input-icons__key {
    display: inline-block;
    padding: .3em .6em .9em .6em;
    overflow: hidden;
    position: relative;
    clip-path:url("#roundedTrapezoid");

}

.input-icons__key-face {
    padding: .1em .6em;
    text-align: center;
    position: relative;
}

.input-icons__key-face-roundness {
    border-radius:.4em;
}

.input-icons__key-face kbd {
    position: relative;
    font-size: inherit;
    font-weight: bolder;
    top: -0.05em;
    padding: 0;
    background: none;
}

.input-icons-container {
    display: inline-flex;
    align-items: center;
    background-color: #6a1a21;
}

.input-icons__key-face-rim {
    --highlight: rgba(255, 255, 255, 1);
    --shadow: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 .2em var(--highlight),
    inset 0 0 .4em var(--highlight);
}

.input-icons__key-xs {
    font-size: 0.5em;
}

.input-icons__key-sm {
    font-size: 0.8em;
}

.input-icons__key-lg {
    font-size: 1.2em;
}
