@using System.Linq.Expressions

<div class="@OuterClass">
    <div class="@InnerClass">
        <kbd>@Key</kbd>
    </div>
</div>

@code {
    [CascadingParameter] public IconSize? CascadingSize { get; set; }
    [Parameter] public string? Key { get; set; }
    [Parameter] public IconSize? Size { get; set; }

    private string OuterClass
    {
        get 
        { 
            var size = Size ?? CascadingSize ?? IconSize.Small; 
            return $"input-icons__key input-icons__key{SizeToClassModifier(size)}";
        }
    }

    private string InnerClass => "input-icons__key-face";

    private string SizeToClassModifier(IconSize size)
    {
        return size switch
        {
            IconSize.Small => "-sm",
            IconSize.Large => "-lg",
            _ => ""
        };
    }
}
