@using System.Linq.Expressions
<div class="@OuterClass">
    <div class="@InnerClass">
        <kbd>@Key</kbd>
    </div>
</div>

@code {

    public enum IconSize
    {
        Small,
        Large
    }

    [Parameter] public string? Key { get; set; }
    [Parameter] public IconSize Size { get; set; } = IconSize.Small;

    private string OuterClass
    {
        get { return $"input-icons__key input-icons__key{(Size == IconSize.Small ? "-sm" : "-lg")}"; }
    }

    private string InnerClass
    {
        get { return "input-icons__key-face"; }
    }

    private string SizeToClassModifier(IconSize size)
    {
        switch (size)
        {
            case IconSize.Small:
                return "-sm";
            case IconSize.Large:
                return "-lg";
            default:
                return "";
        }
    }

}